

<!--<form (submit)="addName()">
  <input [(ngModel)]="searchTerm" name="newName" placeholder="Search">
  <button class="btn btn-secondary" type="submit">Add</button>
</form>
<div class="glyphicon glyphicon-plus"></div>
<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>-->
<br>
<input [(ngModel)]="searchTerm" placeholder="Search">
<table>
  <tr>
    <td>Item Name</td>
    <td>Tag</td>
    <td>Add to Cart / Quantity</td>
  </tr>
  <tr *ngFor="let item of (inventory)">
    <td>{{item.name}}</td>
    <td *ngIf="item.tags[0]">{{item.tags[0].tag}}</td>
    <td>
      <button id="add-to-cart-btn" class="btn btn-primary btn-sm" (click)="addToCart(item)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <input id="cart-quantity" placeholder="1">
    </td>
  </tr>
</table>



