:host {
  display: block;
  padding: 0 16px;
  margin-top: auto;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.btn-sm {
  padding: 10px 10px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#cart-quantity{
  width: 40px;
  text-align: center;
}
table{

}
